<!-- src/app/sidebar/sidebar.component.html -->

<aside class="sidebar">
    <div class="sidebar-header">
      <img src="assets/finlogiklogo.png" alt="logo" />
    </div>
    <ul class="sidebar-links">
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">
          <span class="material-symbols-outlined">Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/employees" routerLinkActive="active">
          <span class="material-symbols-outlined">Employees</span>
        </a>
      </li>
      <li>
        <a routerLink="/leave" routerLinkActive="active">
          <span class="material-symbols-outlined">Leave</span>
        </a>
      </li>
      <li>
        <a routerLink="/staff" routerLinkActive="active">
          <span class="material-symbols-outlined">Staff</span>
        </a>
      </li>
      <li>
        <a routerLink="/login" routerLinkActive="active">
          <span class="material-symbols-outlined">Log out</span>
        </a>
      </li>
    </ul>
  </aside>
  